@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Martel+Sans:wght@600&family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Baloo Bhaijaan 2', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}
body{
    background-color: black;
}
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0%;
}

nav {
    max-width: 60vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
    z-index: 10;
    gap: 23px;
}
.hero> :nth-child(1){
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.separate{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 12px 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(23,23,23,0.3);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-red{
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 17px 35px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
}
.btn-red:hover{
    background-color: #c11119;
}
.btn-red-sn{
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 17px;
    padding: 8px 22px;
    border-radius: 5px;
    border: none;
}
.btn-red-sn:hover{
    background-color: #c11119;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 16px 101px 17px 10px;
    font-size: 12px;
    color: white;
    /* font-weight: 900; */
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.first{
    max-width: 70vw;
    margin: auto;
    /* height: 555px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 34px 0px;
    /* flex-wrap: wrap; */

}
.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :first-child{
    color: white;
    font-weight: bolder;
    font-size: 48px;
    font-weight: 900;
}
.first > div :nth-child(2){
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.secimg{
    position: relative;
    
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 75px;
    right: 0;
    width: 500px;

    
}
.secfimg{
    display: flex;
    flex-direction: column;
}
.third{
    height: 555px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faq h1 {
    text-align: center;
    font-size: 48px;
    color: white;
}
.faq-box{
    display: flex;
    background-color: #2d2d2d;;
    padding: 20px;
    max-width:75vw ;
    color: rgb(255,255,255);
    margin: 12px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-out;
}
.faq-box:hover{
    background-color:#414141;
}
.heros{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 35px;
    gap: 23px;
    display: flex;
    flex-direction: column;

}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
footer span a{
    color: rgba(255,255,255,0.7);
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-item{
    display: flex;
    flex-direction: column;
}
.footer-item a{
    padding: 14px 0px;
    color: rgba(255,255,255,0.7);
}
.last-pk{
    padding: 30px 0px;
    color: rgba(255,255,255,0.7);
}
@media screen and (max-width:1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero >:nth-child(1){
        font-size: 32px;
    }
    .hero >:nth-child(2){
        font-size: 18px;
    }
    .hero >:nth-child(3){
        font-size: 18px;
    }
    .hero-btn{
        display: flex;
        flex-direction: column;
    }
    .faq h1{
        font-size: 32px;
    }
    .secimg img{
        width: 300px;
    }
    .secimg video{
        width: 250px;
        top: 50px;
        right: 3px;
    }
    .first > div :first-child{
        font-size: 32px;
    }
    .first > div :nth-child(2){
        font-size: 18px;
    }
    .first > div :nth-child(3){
        font-size: 18px;
    }
    .secfourimg img{
        width: 400px;
        margin: auto;
    }
    .third{
        height: 300px;
    }
    .secfimg img{
        width: 400px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
}